body{
    
    font-family: "Urbanist", sans-serif;
}
#navs ul {
    list-style-type: none;
    /* float: left; */
    margin-bottom: 7rem;
    margin-top: -2.5rem;
    font-size: 1.8rem;
    margin-left: 6px;
    text-transform: uppercase;

}
#nav2 ul {
    list-style-type: none;
    display: flex;
    float: right;
    margin-top: -9rem;
    margin-right: 8rem;
    font-size: 1.3rem; 
}
.nav0 ul{
   height: 2rem;
}
.nav0 ul li{
    /* display: flex; */
    float: left;
    padding: 1rem 5rem;
    list-style-type: none;
    text-transform: capitalize;
    background-color: rgb(43, 118, 216);

}



